<h2 style="text-align: center;">Tabla de Musicas</h2>



<table class="table table-dark table-striped" style="margin: 0 auto; width: 80%;">

  <thead>
    <tr>
      
      <th scope="col">titulo</th>
      <th scope="col">Nombre del artista o banda</th>
      <th scope="col">album</th>
      <th scope="col">año de publicacion</th>
      <th scope="col">genero</th>
      <th scope="col">duracion</th>
    </tr>
  </thead>
  <tbody>
    {{#each songs}}
    <tr>
      <th scope="row">{{title}}</th>
      <td>{{artist}}</td>
      <td>{{album}}</td>
      <td>{{year}}</td>
      <td>{{genre}}</td>
      <td>{{length}}</td>
      
    </tr>
    {{/each}}
  </tbody>
</table>